<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="IntelliFactory.WebSharper.JQuery.Resources.JQuery" value="http://www.jquery.com/x"/>-->
  </appSettings>
  <system.webServer>
    <modules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </modules>
  </system.webServer>
  <system.web>
    <httpModules>
      <add name="RpcModule" type="IntelliFactory.WebSharper.Web.RpcModule, IntelliFactory.WebSharper.Web"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="WebSharper" namespace="IntelliFactory.WebSharper.Web" assembly="IntelliFactory.WebSharper.Web"/>
        <add tagPrefix="Tests" namespace="IntelliFactory.WebSharper.GlMatrix.Tests" assembly="IntelliFactory.WebSharper.GlMatrix.Tests"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
